header#main-header {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}