.product-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.product-list article {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-list article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

.product-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #252525;
  background: transparent;
  margin-top: 10px;
  color: #252525;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.product-list article a:hover {
  background: #252525;
  color: #ffffff;
}

.product-list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-list .actions button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background: #252525;
  color: #ffffff;
  font-weight: bold;
  transition: 300ms;
  cursor: pointer;
}

.product-list .actions button:not([disabled]):hover {
  background: #c3c3c3;
  color: #252525;
}

.product-list .actions button[disabled] {
  opacity: .5;
  cursor: default;
}